################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/Gra/Gra/.vs/Gra/FileContentIndex/61a53cce-9cd8-4a22-94ce-b22043288cb3.vsidx
